.container {
  margin: 5px;
  background-color: lightcyan;
  border: 5px solid black;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.box{
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid yellow;
}

#box1 {
  background-color: red;
}

#box2 {
  background-color: green;
}

#box3 {
  background-color: blue;
}